/* Responsivo */
@media (max-width: 800px) {
    .header {
      padding: 0 15px;
    }
  
    .header img {
      max-width: 90px;
    }
  
    .header a {
      font-size: 14px;
      padding: 4px 8px;
    }
  
    .main {
      height: 500px;
    }
  
    .main h1 {
      font-size: 28px;
    }
  
    .main span,
    .main p {
      width: 80vw;
    }
  
    .main span {
      margin-top: 16px;
      font-size: 18px;
    }
  
    .main p {
      margin-top: 10px;
    }
  
    .form-cta {
      width: 100%;
      grid-template-columns: 1fr;
      gap: 10px;
      margin-top: 10px;
      max-width: 80vw;
    }
  
    .form-cta input {
      font-size: 16px;
      padding: 13px;
    }
  
    .form-cta button {
      font-size: 16px;
      justify-self: center;
      padding: 4px 16px 8px 16px;
      border-radius: 2px;
    }
  
    .form-cta button::after {
      margin-left: 5px;
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 6px 12px;
    }
  
    section h1,
    .section p {
      text-align: center;
    }
  
    section h1 {
      font-size: 26px;
    }
  
    .section p {
      font-size: 18px;
    }
  
    .grid {
      grid-template-columns: 1fr;
    }
  
    .faq-list {
      margin-top: 22px;
    }
  
    .faq-question,
    .faq-answer {
      font-size: 18px;
    }
  
    .faq-question {
      padding: 16px 22px;
    }
  
    .faq-question::after {
      background-size: 15px;
    }
  
    .faq-answer > div {
      padding: 21px;
    }
  }